@use "sass:color";
@use "./../abstracts/variables";


@function get-color-accessible-for-background($color) {
  @if (color.channel($color, "lightness", $space: hsl) > 50) {
    @return color.adjust($color, $lightness: -60%);
  }
  @else {
    @return color.adjust($color, $lightness: 60%);
  }
}
